body{
    background-color: rgb(243, 223, 223);
}
h1{
    text-align: center;
    color: rgb(110, 128, 128);
    text-shadow: 1px 1px 10px brown;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
body{
    height: 900px;
}
.car1,.car2,.car3,.car4,.car5,.car6{
    width: 200px;
    height: 110px;
    position: absolute;
}
.car2,.car4,.car6{
    right: 0;
}
.car1,.car3,.car5{
    animation-name: change;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform: rotatex(60deg);
}
.car2,.car4,.car6{
      animation-name: change2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
       transform: rotatex(60deg);
}
.car1{
    top:110px;
    background-image: url(../cars/car1-removebg-preview.png);
background-size: cover;
}
.car2{
    top:220px;
    animation-delay: 4s;
    background-image: url(../cars/car2-removebg-preview.png);
    background-size: cover;
}
.car3{
    top:330px;
      animation-delay: 8s;
      background-image: url(../cars/car3-removebg-preview.png);
      background-size: cover;
}
.car4{
    top:440px;
      animation-delay: 12s;
      background-image: url(../cars/car4-removebg-preview.png);
      background-size: cover;
}
.car5{
    top:550px;
    height: 140px;
 animation-delay: 16s;
 background-image: url(../cars/car5-removebg-preview.png);
 background-size: cover;
}
.car6{
    top:680px;
     animation-delay: 20s;
     background-image: url(../cars/car6-removebg-preview.png);
     background-size: cover;
}
@keyframes change{
    0%{
        left:0;
    }
    100%{
        left: 1150px;
    }
}
@keyframes change2{
    0%{
        right:0;
    }
    100%{
        right: 1150px;
    }
}
