*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: rgb(249, 252, 255);
}
.div1,.div2,.div3,.div4,.div5,.div6,.div7{
    width: 120px;
    height: 80px;
    background-color: rgb(67, 116, 161);
    position: absolute;
}
.div2,.div4,.div6{
    right: 0;
}
.div1,.div3,.div5,.div7{
    animation-name: change;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.div2,.div4,.div6{
      animation-name: change2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.div1{
    top:40px;
}
.div2{
    top:120px;
    animation-delay: 4s;
}
.div3{
    top:200px;
      animation-delay: 8s;
}
.div4{
    top:280px;
      animation-delay: 12s;
}
.div5{
    top:360px;
 animation-delay: 16s;
}
.div6{
    top:440px;
     animation-delay: 20s;
}
.div7{
    top:520px;
     animation-delay: 24s;
   
}
@keyframes change{
    0%{
        left:0;
    }
    100%{
        left: 1238px;
    }
}
@keyframes change2{
    0%{
        right:0;
    }
    100%{
        right: 1238px;
    }
}
